.container {
  display: grid;
  padding: 16px 36px;
  width: auto;
  flex-direction: column;
  gap: 28px;
  grid-template-columns: minmax(0, 85%);
  grid-template-rows: minmax(0, auto) minmax(0, 1fr);
  justify-content: center;
}
