.container {
  display: flex;
  box-sizing: border-box;
  padding: 16px 36px;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  max-width: 2000px;
  gap: 8px;
}

.upcoming {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.movies-upcoming {
  background: linear-gradient(
    0deg,
    transparent 0%,
    transparent 50%,
    rgba(var(--ipt-baseAlt-shade3-rgb, 18, 18, 18), 0.7) 78%,
    rgba(var(--ipt-baseAlt-shade3-rgb, 18, 18, 18), 1) 100%
  );
}
