.container {
  display: grid;
  padding: 16px 36px;
  width: auto;
  flex-direction: column;
  gap: 28px;
  grid-template-columns: minmax(0, 80%) minmax(0, 20%);
  justify-content: center;
}

.upcoming {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.movies-upcoming {
  background: linear-gradient(
    0deg,
    transparent 0%,
    transparent 50%,
    rgba(var(--ipt-baseAlt-shade3-rgb, 18, 18, 18), 0.7) 78%,
    rgba(var(--ipt-baseAlt-shade3-rgb, 18, 18, 18), 1) 100%
  );
}
