.movies-list {
  display: block;
  width: 100%;
}

.movies {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-inline-start: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  justify-content: space-between;
}

.movie {
  display: flex;
  width: 450px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111111;
  border-radius: 4px;
  border: 1px solid #27272a;
  margin-bottom: 24px;
}

.movie img {
  margin: 0 0 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.movie h3 {
  text-align: center;
  font-size: 16px;
  margin: 0;

}

.movie .infos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.movie .infos div {
  display: flex;
  gap: 8px;
  width: 100%;
  font-size: 14px;
}

.movie .infos svg {
  font-size: 24px;
}

.movie .infos .popularity,
.movie .infos .releaseDate,
.movie .infos .voteAverage {
  height: 30px;
  align-items: center;
}

.movie .infos .popularity span,
.movie .infos .releaseDate span,
.movie .infos .voteAverage span {
  font-weight: bold;
}

.movie .infos .overview {
  flex-direction: column;
}

.movie .infos .overview p {
  margin: 0;
  text-align: justify;
}

.movie .infos .overview span {
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
}

.movie .footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 16px 16px 0;
}
