.movie-card {
  margin-bottom: 24px;
}

.overview {
  display: -webkit-box;
  max-width: 700px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card .infos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.movie-card .infos div {
  display: flex;
  gap: 8px;
  width: 100%;
  font-size: 14px;
}

.movie-card .infos svg {
  font-size: 24px;
}

.movie-card .infos .releaseDate,
.movie-card .infos .voteAverage {
  height: 30px;
  align-items: center;
}

.movie-card .infos .releaseDate span,
.movie-card .infos .voteAverage span {
  font-weight: bold;
}

.movie-card .infos .overview {
  flex-direction: column;
}

.movie-card .infos .overview p {
  margin: 0;
  text-align: justify;
}

.movie-card .infos .overview span {
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 4px;
}

.movie-card .footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 16px 16px 0;
}
