.movies-vertical-list {
  display: block;
  width: 100%;
}

.movies-vertical-list .movies {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start; 
  padding-inline-start: 0; 
  margin-block-end: 0;
  margin-block-start: 0;
}

.movies-vertical-list .movies .movie {
  flex: 0 auto;
}
